TD {
	FONT-SIZE: 9pt; COLOR: #000000
}
BODY {
	SCROLLBAR-FACE-COLOR: #e6ece8; SCROLLBAR-HIGHLIGHT-COLOR: #e6ece8; SCROLLBAR-SHADOW-COLOR: #e6ece8; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-BASE-COLOR: #e6ece8; scrollbar-dark-shadow-color: #E6ECE8
}
A:link {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #ff0000
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #000009; TEXT-DECORATION: none
}
A:active {
	
}
