HTML {
	TEXT-DECORATION: none
}
TABLE {
	TABLE-LAYOUT: auto
}
A:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:hover {
	COLOR: rgb(0,147,43); TEXT-DECORATION: underline
}
EM {
	FONT-SIZE: 16pt; FONT-STYLE: normal; FONT-FAMILY: CourierNew
}
A {
	FONT-SIZE: 9pt
}
TD {
	FONT-SIZE: 9pt
}
P {
	FONT-SIZE: 9pt
}
.hh INPUT {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #ffffff
}
