A.selected_link {
	COLOR: #003399; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.bold_text {
	FONT-WEIGHT: bolder; COLOR: #003399
}
.BtnImage {
	FILTER: Gray alpha(opacity=35)
}
.eula_button_class {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 100%; BEHAVIOR: url('../Styles/LINK.HTC'); BORDER-LEFT: black 1px solid; COLOR: buttontext; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: 宋体; BACKGROUND-COLOR: buttonface
}
.eula_hr {
	MARGIN-TOP: 0.25em; MARGIN-BOTTOM: 0.25em; COLOR: windowtext; FONT-FAMILY: 宋体; HEIGHT: 1px
}
.eula_maintext {
	FONT-SIZE: 100%; COLOR: windowtext
}
.eula_ordered_list {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 0.1em; COLOR: windowtext; FONT-FAMILY: 宋体
}
.eula_ordered_list_item {
	COLOR: windowtext; PADDING-TOP: 0.5em; FONT-FAMILY: 宋体
}
.eula_space_above {
	COLOR: windowtext; PADDING-TOP: 0.75em; FONT-FAMILY: 宋体
}
.eula_text {
	FONT-FAMILY: 宋体
}
.eula_title {
	FONT-WEIGHT: bolder; COLOR: windowtext; FONT-FAMILY: 宋体
}
.eula_titleunderline {
	FONT-WEIGHT: bolder; COLOR: windowtext; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: 宋体
}
.eula_underline {
	COLOR: windowtext; FONT-FAMILY: 宋体; TEXT-DECORATION: underline
}
.eula_unordered_list {
	MARGIN-TOP: 0.1em; MARGIN-BOTTOM: 0.1em; COLOR: windowtext; FONT-FAMILY: 宋体
}
.eula_unordered_list_item {
	MARGIN-TOP: 0.3em; COLOR: windowtext; FONT-FAMILY: 宋体
}
.header_text {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #003399; FONT-FAMILY: 宋体
}
.help_title {
	FONT-WEIGHT: bolder; COLOR: windowtext; FONT-FAMILY: 宋体
}
.image_link {
	BEHAVIOR: url('../Styles/LINK.HTC')
}
.link {
	BEHAVIOR: url('../Styles/BEHAVE.HTC'); COLOR: #003399; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.link2 {
	BEHAVIOR: url('../Styles/BEHAVE.HTC'); COLOR: #003399; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.logon_text1 {
	FONT-WEIGHT: lighter; FONT-SIZE: 170%; COLOR: windowtext; FONT-FAMILY: 宋体
}
.logon_text2 {
	FONT-WEIGHT: bolder; FONT-SIZE: 140%; COLOR: windowtext; FONT-FAMILY: 宋体
}
.menu_cell {
	PADDING-RIGHT: 0.45em; PADDING-LEFT: 0.45em; VERTICAL-ALIGN: middle
}
.menu_divider {
	FONT-WEIGHT: normal; COLOR: white
}
.menu_divider_branding {
	FONT-WEIGHT: normal; COLOR: gray
}
.normal_text {
	COLOR: windowtext; FONT-FAMILY: 宋体
}
.ows_hr {
	COLOR: #3366cc; HEIGHT: 1px
}
.ows_hr2 {
	COLOR: #3366cc; HEIGHT: 2px
}
.page_title {
	PADDING-LEFT: 14px; FONT-SIZE: 160%; COLOR: windowtext; FONT-FAMILY: 宋体
}
.page_title_subhead {
	FONT-WEIGHT: normal
}
.PageButtonDivider {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #003399; BORDER-BOTTOM: #003399 2px solid; FONT-FAMILY: 宋体; HEIGHT: 1.5em
}
.red_text {
	COLOR: red; FONT-FAMILY: 宋体
}
.section_border {
	PADDING-TOP: 2px; BORDER-BOTTOM: #003399 1px solid
}
.section_text {
	FONT-WEIGHT: bold; FONT-SIZE: 125%; BEHAVIOR: url('../Styles/BEHAVE.HTC'); COLOR: #003399; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.section_text_nolink {
	FONT-WEIGHT: bolder; FONT-SIZE: 120%; COLOR: blue; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.selected_menu {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: gold; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.sr_name_text {
	BEHAVIOR: url('../Styles/BEHAVE.HTC'); COLOR: #003399; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.sr_text {
	COLOR: windowtext; FONT-FAMILY: 宋体
}
.sub_head_text {
	FONT-WEIGHT: bold; COLOR: #003399; FONT-FAMILY: 宋体; HEIGHT: 1.5em
}
.sub_section_link {
	BORDER-TOP: #003399 1px solid; FONT-WEIGHT: bold; BEHAVIOR: url('../Styles/BEHAVE.HTC'); COLOR: #003399; PADDING-TOP: 2px; FONT-FAMILY: 宋体; HEIGHT: 1.5em; TEXT-DECORATION: none
}
.sub_section_text {
	BORDER-TOP: #003399 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #003399; PADDING-TOP: 2px; FONT-FAMILY: 宋体; HEIGHT: 1.5em
}
.sub_section_text2 {
	BORDER-TOP: #c0c0c0 1px solid; MARGIN-TOP: 1em; FONT-SIZE: 100%; COLOR: #003399; PADDING-TOP: 0.3em; FONT-FAMILY: 宋体; HEIGHT: 1.5em
}
.sub_section_text_no_hr {
	FONT-WEIGHT: bold; COLOR: #003399; FONT-FAMILY: 宋体; HEIGHT: 1.5em
}
.top_menu {
	BORDER-RIGHT: white thin; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 100%; BORDER-LEFT: white thin; COLOR: white; BORDER-BOTTOM: medium none; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.top_menu_branding {
	BORDER-RIGHT: white thin; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 100%; BORDER-LEFT: white thin; COLOR: gray; BORDER-BOTTOM: medium none; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
